* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
.container {
  width: 60%;
  height: 200px;
  border: 1px solid black;
}
.container div {
  background-color: gainsboro;
  color: cornflowerblue;
}
.estudios ul {
  background-color: brown;
  color: white;
  font-size: 20px;
}
