* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}
body {
  text-align: center;
  font-family: Arial, Helvetica, sans-serif;
}
.container {
  margin: 0 auto;
  width: 60%;
  height: 200px;
  border: 1px solid black;
}
.container img {
  vertical-align: middle;
}
.container div {
  background-color: gainsboro;
  color: cornflowerblue;
}
.estudios ul {
  background-color: brown;
  color: white;
  font-size: 20px;
}
.laboral ul {
  background-color: coral;
  color: white;
  font-size: 20px;
}
